In [1]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'Score': [85, 90, 88, 95]
}

# Create DataFrame
df = pd.DataFrame(data)

# Show basic info
print("Data Preview:")
print(df)

# Average score
average_score = df['Score'].mean()
print("\nAverage Score:", average_score)

Data Preview:
      Name  Age  Score
0    Alice   25     85
1      Bob   30     90
2  Charlie   35     88
3    Diana   28     95

Average Score: 89.5

In [2]:
df.describe()

             Age      Score
count   4.000000   4.000000
mean   29.500000  89.500000
std     4.203173   4.203173
min    25.000000  85.000000
25%    27.250000  87.250000
50%    29.000000  89.000000
75%    31.250000  91.250000
max    35.000000  95.000000

In [3]:
df.describe(include='all')

         Name        Age      Score
count       4   4.000000   4.000000
unique      4        NaN        NaN
top     Alice        NaN        NaN
freq        1        NaN        NaN
mean      NaN  29.500000  89.500000
std       NaN   4.203173   4.203173
min       NaN  25.000000  85.000000
25%       NaN  27.250000  87.250000
50%       NaN  29.000000  89.000000
75%       NaN  31.250000  91.250000
max       NaN  35.000000  95.000000